<div>
  <section class="py-12 overflow-hidden sm:py-16 lg:pb-20 xl:pb-48 relative">
    <div class="mx-auto px-4 sm:px-6 max-w-screen-xl">
      <div
        class="grid items-center grid-cols-1 lg:grid-cols-2 gap-y-12 gap-x-36"
      >
        <div>
          <h1
            class="md:text-5xl text-2xl font-semibold tracking-tight md:leading-tight"
          >
            Administra tu propio sitio web con Worpdress, ¡Capacitación
            incluida!
          </h1>
          <p class="mt-6 text-lg leading-7 lg:leading-8 lg:text-xl">
            Modifica el contenido de tu página web de manera fácil, rápida y sin
            necesidad de conocimientos de programación.
          </p>
          <div class="mt-8">
            <a
              href="#"
              title=""
              class="inline-flex items-center justify-center px-6 py-3 text-lg font-medium text-accent transition-all duration-200 bg-brand border border-transparent rounded-xl hover:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand"
              role="button"
            >
              Potencia tu empresa con un sitio web moderno
            </a>
          </div>

          <ul class="mt-10 space-y-4">
            <li class="flex items-center">
              <svg
                class="w-6 h-6 mr-2 text-brand"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5 13l4 4L19 7"></path>
              </svg>
              Modifica tu sitio web cuando quieras.
            </li>

            <li class="flex items-center">
              <svg
                class="w-6 h-6 mr-2 text-brand"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5 13l4 4L19 7"></path>
              </svg>
              Haz crecer tu negocio, llega a más clientes.
            </li>

            <li class="flex items-center">
              <svg
                class="w-6 h-6 mr-2 text-brand"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5 13l4 4L19 7"></path>
              </svg>
              Implementado con Wordpress y Bricks Builder.
            </li>
          </ul>
        </div>

        <div>
          <div class="relative w-full mx-auto">
            <div
              class="absolute inset-y-0 w-screen translate-y-20 left-1/2 bg-brand-500 lg:left-32 lg:right-0 rounded-bl-md rounded-tl-md"
            >
            </div>

            <img
              class="relative object-cover aspect-portrait w-full mx-auto rounded-2xl"
              src="../img/daniel-maurel.jpg"
              alt=""
            />

            <div
              class="absolute bottom-0 left-0 origin-bottom-left scale-75 bg-accent-600 rounded-br-none sm:-translate-x-16 xl:-translate-x-24 rounded-2xl sm:scale-100"
            >
              <svg
                class="absolute w-auto h-10 text-brand-600 -translate-x-5 -translate-y-4"
                viewBox="0 0 44 38"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M44 38H27.1765C25.6975 31.574 24.958 25.8894 24.958 20.9463C24.958 6.98212 31.2437 0 43.8151 0V8.1561C37.8992 8.1561 34.9412 11.3691 34.9412 17.7951V22.0585H44V38ZM19.042 38H2.21849C0.739496 31.574 0 25.8894 0 20.9463C0 6.98212 6.28571 0 18.8571 0V8.1561C12.9412 8.1561 9.98319 11.3691 9.98319 17.7951V22.0585H19.042V38Z"
                ></path>
              </svg>

              <div class="px-4 py-5 sm:p-6">
                <blockquote>
                  <p class="text-2xl font-normal leading-tight text-white">
                    La primera impresión cuenta, dale a tu empresa la presencia
                    digital que se merece.
                  </p>
                </blockquote>
                <p class="mt-4 text-base font-semibold text-white">
                  Daniel Maurel C.
                </p>
                <span class="mt-1 text-sm font-normal text-gray-400">
                  Diseñador Web
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
