<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8">
    <div
      class="w-full [background:linear-gradient(45deg,theme(colors.accent.500),theme(colors.accent.600)_80%,theme(colors.accent.500))_padding-box,conic-gradient(from_var(--border-angle),theme(colors.slate.600/.48)_80%,_theme(colors.brand.500)_86%,_theme(colors.brand.300)_90%,_theme(colors.brand.500)_94%,_theme(colors.slate.600/.48))_border-box] rounded-2xl border border-transparent animate-border"
    >
      <div class="p-5">
        <div class="flex justify-between items-center">
          <div>
            <div class="flex space-x-2 items-center mb-0.5">
              <div class="text-2xl font-bold text-slate-200 mb-1">17,479</div>
              <div class="text-xs font-medium text-emerald-500">+48%</div>
            </div>
            <div class="text-sm font-medium text-slate-500">Monthly visits</div>
          </div>
        </div>
      </div>
      <div class="px-5">
        <img
          class="group-hover:opacity-0 transition-opacity duration-500"
          src="https://cruip-tutorials.vercel.app/animated-gradient-border/card-01.png"
          width="380"
          height="173"
          alt="Card image 01"
        />
      </div>
    </div>
  </div>
</section>
