---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroOne from "../components/hero/HeroOne.astro";
import HeroTwo from "../components/hero/HeroTwo.astro";
import HeroThree from "../components/hero/HeroThree.astro";
import HeroFour from "../components/hero/HeroFour.astro";
import HeroFive from "../components/hero/HeroFive.astro";
import HeroSix from "../components/hero/HeroSix.astro";
import LogoClientOne from "../components/logos/LogoClientOne.astro";
import SectionThree from "../components/section/SectionThree.astro";
import SectionOne from "../components/section/SectionOne.astro";
import SectionTwo from "../components/section/SectionTwo.astro";
import SectionFour from "../components/section/SectionFour.astro";
import SectionFive from "../components/section/SectionFive.astro";
import SectionSix from "../components/section/SectionSix.astro";
import SectionSeven from "../components/section/SectionSeven.astro";
import SectionHeight from "../components/section/SectionHeight.astro";
import LogoTools from "../components/logos/LogoTools.astro";
import CtaOne from "../components/cta/CtaOne.astro";
import Meteors from "../components/Meteors.tsx";
import SectionContact from "../components/section/SectionContact.astro";
---

<BaseLayout title="This is The Web">
  <!-- <section>
    <div
      class="relative flex h-full w-full max-w-[32rem] items-center justify-center overflow-hidden rounded-lg border bg-white p-20 md:shadow-xl"
    >
      <Meteors number={5} />
      <p
        class="z-10 whitespace-pre-wrap text-center text-5xl font-medium tracking-tighter text-black"
      >
        Meteors
      </p>
    </div>
  </section> -->
  <!-- <Meteors /> -->
  <!-- Hero -->
  <!-- <HeroOne /> -->
  <!-- <HeroTwo /> -->
  <!-- <HeroThree /> -->
  <!-- <HeroFour /> -->
  <HeroFive />
  <!-- <HeroSix /> -->
  <!-- Client logos -->
  <LogoClientOne />
  <!-- Section grid 4 cols -->
  <!-- <SectionOne /> -->
  <SectionTwo />
  <SectionThree />
  <SectionFour />
  <SectionFive />
  <!-- <SectionSix /> -->
  <SectionSeven />
  <SectionContact />
  <!-- <SectionHeight /> -->
  <!-- <LogoTools /> -->
  <!-- CTa Home -->
  <!-- <CtaOne /> -->
</BaseLayout>
