---
import Layout from "../../layouts/Layout.astro";
import SectionContact from "../../components/section/SectionContact.astro";
---

<Layout
  url={import.meta.env.FRONTEND_URL}
  title="Diseño Web"
  description="Soy diseñador web freelance, especializado en Wordpress ✅. Todos los planes web incluyen Hosting por 1 año GRATIS y certificado SSL!"
  image="/img/paginas-web-empresas.webp"
>
  <section id="hero" class="mb-16">
    <div
      class="mx-auto w-full max-w-5xl space-y-8 px-8 py-32 border-b border-solid border-slate-600"
    >
      <div
        class="md:gap-12 gap-10 flex md:flex-row flex-col justify-between items-center md:text-left text-center"
      >
        <div class="flex-col flex flex-1 md:gap-6 gap-2 md:order-1 order-2">
          <h1 class="text-4xl font-bold leading-relaxed md:text-6xl">
            Hola, mi nombre es Daniel 👋
          </h1>

          <div class="flex flex-col md:items-start items-center gap-4 max-w-xl">
            <p class="inline-block md:text-xl">
              Actualmente trabajo como <span
                ><a
                  class="text-brand decoration-brand underline hover:text-brand-500"
                  href="https://www.linkedin.com/in/danielmaurel/"
                  target="_blank">diseñador web freelance</a
                ></span
              > con más de 9 años de experiencia en desarrollo de páginas web wordpress
              y tiendas virtuales a lo largo de todo Chile.
            </p>
            <a
              href="https://www.linkedin.com/in/danielmaurel/"
              target="_blank"
              class="text-white bg-sky-600 rounded-sm gap-2 px-2 hover:text-slate-200"
              >LinkedIn →</a
            >
          </div>
        </div>
        <div
          class="relative flex shrink-0 overflow-hidden rounded-full size-56 border md:order-2 order-1"
        >
          <img
            class="w-full h-full object-cover"
            alt="Daniel Maurel"
            src="/img/daniel-maurel.jpg"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="experiencia" class="pt-12">
    <div class="flex min-h-0 flex-col gap-y-4 max-w-5xl mx-auto px-8">
      <h2 class="text-3xl font-bold text-brand mb-6">Experiencia</h2>
      <div>
        <a
          class="block cursor-pointer"
          href="https://dmaurel.cl"
          target="_blank"
          aria-label="Diseñador Web Freelance"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="Diseñador Web Freelance"
                  src="/img/dmaurel-icon.jpg"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    Daniel Maurel<span class="inline-flex gap-x-1"></span><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div class="text-xs sm:text-sm text-right">
                    Jun 2017 - Actualidad
                  </div>
                </div><div class="font-sans text-xs">
                  Diseñador Web Freelance
                </div>
              </div>
            </div>
          </div></a
        >
      </div>
      <div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a
          class="block cursor-pointer"
          href="https://agenciakubo.com"
          target="_blank"
          aria-label="Agencia Kubo"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="Agencia Kubo"
                  src="/img/kubo-logo.jpg"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    Agencia Kubo<span class="inline-flex gap-x-1"></span><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div class="text-xs sm:text-sm text-right">
                    Jun 2017 - Actualidad
                  </div>
                </div><div class="font-sans text-xs">Desarrollador Web</div>
              </div>
            </div>
          </div></a
        >
      </div>
      <div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://n2o.cl"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="N2O Digital"
                  src="/img/n2o_digital_logo.jpg"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    N2O Digital<span class="inline-flex gap-x-1"></span><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    Nov 2015 - May 2017
                  </div>
                </div><div class="font-sans text-xs">Director Digital</div>
              </div><div
                class="mt-2 text-xs sm:text-sm"
                style="opacity:0;height:0px"
              >
                Implemented a custom Kubernetes controller in Go to automate the
                deployment of MySQL and ProxySQL custom resources in order to
                enable 2,000+ internal developers to instantly deploy their app
                databases to production. Wrote several scripts in Go to automate
                MySQL database failovers while maintaining master-slave
                replication topologies and keeping Zookeeper nodes consistent
                with changes.
              </div>
            </div>
          </div></a
        >
      </div>
      <div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://p-ranking.com/"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="PagoRanking"
                  src="/img/p_ranking_logo.jpg"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    PagoRanking<span class="inline-flex gap-x-1"></span><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    Oct 2014 - Nov 2015
                  </div>
                </div><div class="font-sans text-xs">Diseñador Web</div>
              </div>
            </div>
          </div></a
        >
      </div>
      <div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://tusclicks.com/"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="TusClicks"
                  src="/img/tusclicks_logo.jpg"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    TusClicks<span class="inline-flex gap-x-1"></span><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    May 2012 - Sept 2014
                  </div>
                </div><div class="font-sans text-xs">Diseñador Web</div>
              </div>
            </div>
          </div></a
        >
      </div>
      <div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://codelco.com/"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="Codelco"
                  src="/img/codelco.jpg"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    Codelco<span class="inline-flex gap-x-1"></span><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    Ene 2012 - Mar 2012
                  </div>
                </div><div class="font-sans text-xs">
                  Práctica Profesional - Diseñador Web
                </div>
              </div>
            </div>
          </div></a
        >
      </div>
    </div>
  </section>

  <section id="estudios" class="pt-12">
    <div class="flex min-h-0 flex-col gap-y-3 max-w-5xl mx-auto px-6">
      <div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <h2 class="text-3xl font-bold text-brand mb-6">Estudios</h2>
      </div><div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://buildspace.so"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="Buildspace"
                  src="/buildspace.jpg"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    Buildspace<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    2023 - 2024
                  </div>
                </div><div class="font-sans text-xs">s3, s4, sf1, s5</div>
              </div>
            </div>
          </div></a
        >
      </div><div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://uwaterloo.ca"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="University of Waterloo"
                  src="/waterloo.png"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    University of Waterloo<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    2016 - 2021
                  </div>
                </div><div class="font-sans text-xs">
                  Bachelor's Degree of Computer Science (BCS)
                </div>
              </div>
            </div>
          </div></a
        >
      </div><div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://wlu.ca"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="Wilfrid Laurier University"
                  src="/laurier.png"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    Wilfrid Laurier University<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    2016 - 2021
                  </div>
                </div><div class="font-sans text-xs">
                  Bachelor's Degree of Business Administration (BBA)
                </div>
              </div>
            </div>
          </div></a
        >
      </div><div
        style="opacity: 1; filter: blur(0px); transform: translateY(-6px) translateZ(0px);"
      >
        <a class="block cursor-pointer" href="https://ibo.org"
          ><div class="rounded-lg bg-card text-card-foreground flex">
            <div class="flex-none">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full border size-12 m-auto bg-muted-background dark:bg-foreground"
                ><img
                  class="aspect-square h-full w-full object-contain"
                  alt="International Baccalaureate"
                  src="/ib.png"
                /></span
              >
            </div><div class="flex-grow ml-4 items-center flex-col group">
              <div class="flex flex-col">
                <div
                  class="flex items-center justify-between gap-x-2 text-base"
                >
                  <h3
                    class="inline-flex items-center justify-center font-semibold leading-none text-xs sm:text-sm"
                  >
                    International Baccalaureate<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-chevron-right size-4 translate-x-0 transform opacity-0 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:opacity-100 rotate-0"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </h3><div
                    class="text-xs sm:text-sm tabular-nums text-muted-foreground text-right"
                  >
                    2012 - 2016
                  </div>
                </div><div class="font-sans text-xs">IB Diploma</div>
              </div>
            </div>
          </div></a
        >
      </div>
    </div>
  </section>
  <SectionContact />
</Layout>
