---
import Link from "../ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ToggleDarkMode from "../global/ToggleDarkMode.astro";

const menuitems = [
  {
    title: "Sobre Mi",
    path: "/sobre-mi",
  },
  {
    title: "Proyectos",
    path: "/portfolio",
  },
  {
    title: "Diseño Web",
    path: "#",
    children: [
      { title: "Landing Page", path: "/diseno-web/landing-page" },
      { title: "Tienda Virtual", path: "/diseno-web/tienda-virtual" },
      {
        title: "Integración WebPay Plus",
        path: "/diseno-web/integracion-webpay-plus",
      },

      {
        title: "Mantención de Páginas Web",
        path: "diseno-web/mantencion-de-paginas-web",
      },
    ],
  },
  {
    title: "AstroWebs",
    badge: true,
    path: "/paginas-web-astro",
  },
  {
    title: "Contacto",
    path: "/contacto",
  },
];
---

<header class="w-full mx-auto py-6 px-4">
  <div
    class="relative dark:bg-accent-600 bg-white rounded-xl flex flex-col w-full p-5 mx-auto md:items-center md:justify-between md:flex-row max-w-7xl px-8 border border-solid dark:border-accent-400 border-accent-100"
  >
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <!-- Logo -->
        <a
          title="Daniel Maurel - Diseñador Web Freelance"
          aria-label="Daniel Maurel"
          href="/"
          class="text-3xl text-accent dark:text-brand font-semibold tracking-tight inline-flex gap-2 items-center"
        >
          <svg
            class="size-6"
            viewBox="0 0 50 39"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4992 2H37.5808L22.0816 24.9729H1L16.4992 2Z"
              class="fill-brand-200"></path>
            <path
              d="M17.4224 27.102L11.4192 36H33.5008L49 13.0271H32.7024L23.2064 27.102H17.4224Z"
              class="fill-brand"></path>
          </svg>
          dmaurel
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-6 h-6 text-white" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul
          class="flex flex-col lg:flex-row lg:gap-3 md:items-center items-start"
        >
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-white hover:text-brand"
                    >
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-green-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
          <!-- <li>
            <a
              title="Agendar reunión"
              aria-label="Agendar reunión"
              href="https://calendly.com/dmaurel"
              target="_blank"
              class="text-accent gap-3 text-lg flex items-center focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 ring-2 ring-transparent focus:ring-offset-2 focus:ring-brand-500 duration-200 py-1.5 rounded-md active:bg-white active:text-accent bg-brand hover:bg-white w-auto"
            >
              <span
                class="w-2.5 h-2.5 rounded-full bg-red-500 z-20 relative flex items-center justify-center"
              >
                <span
                  class="w-3 h-3 rounded-full bg-red-500/50 animate-ping z-10 absolute"
                ></span>
              </span>
              Agendar Reunión
            </a>
          </li> -->
          <!-- icon Darkmode -->
          <ToggleDarkMode />
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="inverted" block size="md">Contacto</Link>
          <Link href="#" size="md" block>Reunión</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <!-- <a style="Primary" href="#">Presupuesto</a> -->
        <!-- <Link href="#" style="outline" size="md">Cotización</Link> -->
        <Link class="flex items-center gap-2" href="#" style="brand" size="md"
          ><span
            class="w-2.5 h-2.5 rounded-full bg-red-500 z-20 relative flex items-center justify-center"
          >
            <span
              class="w-3 h-3 rounded-full bg-red-500/50 animate-ping z-10 absolute"
            ></span>
          </span>
          Agendar Reunión</Link
        >
      </div>
    </div>
  </div>
</header>
