<section class="md:py-16 py-8">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 space-y-8">
    <div class="flex flex-col items-center gap-6">
      <h2 class="text-5xl font-bold mb-0 dark:text-white text-accent">
        Administra tu propio sitio web con Worpdress
      </h2>
      <span class="text-2xl text-gray-400"
        >Modifica el contenido de tu página web de manera fácil, rápida y sin
        necesidad de conocimientos de programación.</span
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-12 text-white animate-bounce"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m5 12l7 7m0 0l7-7m-7 7V5"></path></svg
      >
    </div>
    <div class="grid md:grid-cols-12 md:grid-rows-6 md:gap-8 gap-6">
      <!-- Card 1 -->
      <div
        class="border border-solid border-accent-400 hover:border-brand transition-all duration-300 rounded-md md:col-span-4 md:row-span-6 p-6 space-y-3 group flex flex-col justify-between overflow-hidden clickable-card"
      >
        <!-- BG Image -->
        <img
          src="https://images.pexels.com/photos/574069/pexels-photo-574069.jpeg"
          class="rounded-md absolute top-0 left-0 object-cover -z-10 opacity-0 group-hover:opacity-100 transition-all duration-1000 w-full h-full group-hover:scale-110"
          alt=""
        />
        <!-- BG Overlay -->
        <div
          class="absolute w-full h-full top-0 left-0 bg-gradient-to-t from-black to-transparent to-80% -z-10 opacity-0 group-hover:opacity-80 transition-all duration-300"
        >
        </div>
        <!-- SVG Servicio -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-12 my-6 fill-brand transition-all duration-300"
          viewBox="0 0 512 512"
          ><g
            ><path
              d="m474.427 30.108h-163.755c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h163.754c12.43 0 22.544 10.113 22.544 22.544v263.007h-36.028l-.001-230.847c0-12.431-10.114-22.544-22.544-22.544h-364.795c-12.431 0-22.544 10.113-22.544 22.544v230.847h-36.029v-263.008c0-12.431 10.114-22.544 22.544-22.544h243.04c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-243.04c-20.718.001-37.573 16.856-37.573 37.574v303.848c0 20.718 16.855 37.573 37.573 37.573h165.231l-7.574 57.761h-26.702c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h174.943c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-26.701l-7.574-57.761h79.629c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-351.252c-12.43 0-22.544-10.113-22.544-22.544v-25.811h481.941v25.811c0 12.431-10.114 22.544-22.544 22.544h-55.543c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h55.543c20.718 0 37.573-16.855 37.573-37.573v-303.848c.001-20.718-16.854-37.573-37.572-37.573zm-172.815 436.755h-91.223l7.574-57.761h76.074zm-235.525-367.022c0-4.144 3.371-7.515 7.515-7.515h364.796c4.144 0 7.515 3.371 7.515 7.515v36.985h-379.826zm0 52.015h379.826v178.833h-36.534v-33.499c0-4.15-3.364-7.515-7.515-7.515h-127.875c-4.151 0-7.515 3.365-7.515 7.515v33.499h-20.949v-33.499c0-4.15-3.364-7.515-7.515-7.515h-127.874c-4.151 0-7.515 3.365-7.515 7.515v33.499h-36.534zm328.262 178.832h-112.845v-25.984h112.845zm-163.853 0h-112.845v-25.984h112.845z"
            ></path><path
              d="m94.748 102.455c-6.364 0-11.542 5.178-11.542 11.543s5.178 11.542 11.542 11.542 11.542-5.178 11.542-11.542c.001-6.364-5.177-11.543-11.542-11.543z"
            ></path><path
              d="m131.791 102.455c-6.364 0-11.542 5.178-11.542 11.543s5.178 11.542 11.542 11.542 11.542-5.178 11.542-11.542-5.178-11.543-11.542-11.543z"
            ></path><path
              d="m168.833 102.455c-6.364 0-11.542 5.178-11.542 11.543s5.178 11.542 11.542 11.542c6.365 0 11.543-5.178 11.543-11.542s-5.178-11.543-11.543-11.543z"
            ></path><path
              d="m110.136 271.332h54.669c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-47.155v-65.938h276.683v65.938h-199.47c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h206.984c4.151 0 7.515-3.365 7.515-7.515v-80.967c0-4.15-3.364-7.515-7.515-7.515h-291.711c-4.151 0-7.515 3.365-7.515 7.515v80.968c0 4.15 3.364 7.514 7.515 7.514z"
            ></path></g
          ></svg
        >
        <!-- Content -->
        <div
          class="space-y-2 translate-y-16 group-hover:-translate-y-0 duration-500 transition-all"
        >
          <h3
            class="md:text-2xl text-xl font-bold clickable-card__heading group-hover:text-white"
          >
            <a href="#"><span class="text-brand">.</span> Páginas Web</a>
          </h3>
          <!-- Description -->
          <p
            class="group-hover:text-white opacity-0 group-hover:opacity-100 transition-all duration-500 group-hover:block max-w-xs"
          >
            Destaca tu empresa de tu competencia con un sitio web moderno con
            WordPress.
          </p>
        </div>

        <!-- Arrow -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="md:size-12 size-6 absolute opacity-0 top-4 right-6 duration-500 transition-all md:rotate-0 rotate-45 md:group-hover:translate-x-2 md:group-hover:-translate-y-2 group-hover:translate-x-2 group-hover:translate-y-0 group-hover:opacity-100"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M6.188 17.288L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
          ></path>
        </svg>
      </div>
      <!-- Card 2 -->
      <div
        class="border border-solid border-accent-400 hover:border-brand transition-all duration-300 rounded-md md:col-span-8 md:row-span-3 p-6 space-y-3 group overflow-hidden flex flex-col justify-between clickable-card"
      >
        <img
          src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="rounded-md absolute top-0 left-0 object-cover -z-10 opacity-0 group-hover:opacity-100 transition-all duration-1000 w-full h-full group-hover:scale-110"
          alt=""
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-12 my-6 fill-brand transition-all duration-300"
          viewBox="-52 0 512 512"
          ><path
            d="m34.5 25c-5.515625 0-10 4.484375-10 10s4.484375 10 10 10 10-4.484375 10-10-4.484375-10-10-10zm0 0"
          ></path><path
            d="m69.5 25c-5.515625 0-10 4.484375-10 10s4.484375 10 10 10 10-4.484375 10-10-4.484375-10-10-10zm0 0"
          ></path><path
            d="m104.5 25c-5.515625 0-10 4.484375-10 10s4.484375 10 10 10 10-4.484375 10-10-4.484375-10-10-10zm0 0"
          ></path><path
            d="m380.5 0h-353c-15.164062 0-27.5 12.335938-27.5 27.5v412.007812c0 4.144532 3.359375 7.5 7.5 7.5s7.5-3.355468 7.5-7.5v-200.507812h126.289062c3.097657 8.730469 11.433594 15 21.210938 15h83c9.777344 0 18.113281-6.269531 21.210938-15h126.289062v245.5c0 6.894531-5.605469 12.5-12.5 12.5h-353c-6.894531 0-12.5-5.605469-12.5-12.5v-9.992188c0-4.140624-3.359375-7.5-7.5-7.5s-7.5 3.359376-7.5 7.5v9.992188c0 15.164062 12.335938 27.5 27.5 27.5h353c15.164062 0 27.5-12.335938 27.5-27.5v-457c0-15.164062-12.335938-27.5-27.5-27.5zm-135 239h-83c-4.136719 0-7.5-3.363281-7.5-7.5s3.363281-7.5 7.5-7.5h83c4.136719 0 7.5 3.363281 7.5 7.5s-3.363281 7.5-7.5 7.5zm147.5-15h-126.289062c-3.097657-8.730469-11.433594-15-21.210938-15h-83c-9.777344 0-18.113281 6.269531-21.210938 15h-126.289062v-154h350.5c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5h-350.5v-27.5c0-6.894531 5.605469-12.5 12.5-12.5h353c6.894531 0 12.5 5.605469 12.5 12.5zm0 0"
          ></path><path
            d="m143.5 117c0-4.144531-3.359375-7.5-7.5-7.5h-56c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h56c4.140625 0 7.5-3.355469 7.5-7.5zm0 0"
          ></path><path
            d="m166 124.5h76c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5h-76c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5zm0 0"
          ></path><path
            d="m328 109.5h-56c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h56c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
          ></path><path
            d="m196.5 147c0-4.144531-3.359375-7.5-7.5-7.5h-71c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h71c4.140625 0 7.5-3.355469 7.5-7.5zm0 0"
          ></path><path
            d="m290 139.5h-71c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h71c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
          ></path><path
            d="m257 169.5h-101c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h101c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
          ></path><path
            d="m91 268.5c-22.605469 0-41 18.394531-41 41s18.394531 41 41 41 41-18.394531 41-41-18.394531-41-41-41zm0 67c-14.335938 0-26-11.664062-26-26s11.664062-26 26-26 26 11.664062 26 26-11.664062 26-26 26zm0 0"
          ></path><path
            d="m65 365.5c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h52c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
          ></path><path
            d="m204 268.5c-22.605469 0-41 18.394531-41 41s18.394531 41 41 41 41-18.394531 41-41-18.394531-41-41-41zm0 67c-14.335938 0-26-11.664062-26-26s11.664062-26 26-26 26 11.664062 26 26-11.664062 26-26 26zm0 0"
          ></path><path
            d="m237.5 373c0-4.144531-3.359375-7.5-7.5-7.5h-52c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h52c4.140625 0 7.5-3.355469 7.5-7.5zm0 0"
          ></path><path
            d="m317 268.5c-22.605469 0-41 18.394531-41 41s18.394531 41 41 41 41-18.394531 41-41-18.394531-41-41-41zm0 67c-14.335938 0-26-11.664062-26-26s11.664062-26 26-26 26 11.664062 26 26-11.664062 26-26 26zm0 0"
          ></path><path
            d="m291 365.5c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h52c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
          ></path><path
            d="m49 469.5c0 6.894531 5.605469 12.5 12.5 12.5h117c6.894531 0 12.5-5.605469 12.5-12.5v-57c0-6.894531-5.605469-12.5-12.5-12.5h-117c-6.894531 0-12.5 5.605469-12.5 12.5zm53.851562-2.5 11.839844-11.839844c2.925782-2.925781 7.683594-2.921875 10.609375 0l11.839844 11.839844zm-38.851562-52h112v52h-17.648438l-22.445312-22.445312c-8.773438-8.773438-23.046875-8.773438-31.820312 0l-22.449219 22.445312h-17.636719zm0 0"
          ></path><path
            d="m217 412.5v57c0 6.894531 5.605469 12.5 12.5 12.5h117c6.894531 0 12.5-5.605469 12.5-12.5v-57c0-6.894531-5.605469-12.5-12.5-12.5h-117c-6.894531 0-12.5 5.605469-12.5 12.5zm53.851562 54.5 11.839844-11.839844c2.925782-2.925781 7.683594-2.921875 10.609375 0l11.839844 11.839844zm-38.851562-52h112v52h-17.648438l-22.445312-22.445312c-8.773438-8.773438-23.046875-8.773438-31.820312 0l-22.449219 22.445312h-17.636719zm0 0"
          ></path></svg
        >
        <!-- Content -->
        <div
          class="space-y-2 translate-y-16 group-hover:-translate-y-0 duration-500 transition-all"
        >
          <h3
            class="md:text-2xl text-xl font-bold clickable-card__heading group-hover:text-white"
          >
            <a href="#"><span class="text-brand">.</span> Landing Pages</a>
          </h3>
          <!-- Description -->
          <p
            class="group-hover:text-white opacity-0 group-hover:opacity-100 transition-all duration-500 group-hover:block max-w-xs"
          >
            Diseñada para captar clientes y generar leads respecto a un producto
            o servicio.
          </p>
        </div>
        <!-- Arrow -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="md:size-12 size-6 absolute opacity-0 top-4 right-6 duration-500 transition-all md:rotate-0 rotate-45 md:group-hover:translate-x-2 md:group-hover:-translate-y-2 group-hover:translate-x-2 group-hover:translate-y-0 group-hover:opacity-100"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M6.188 17.288L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
          ></path>
        </svg>
        <!-- BG Overlay -->
        <div
          class="absolute w-full h-full top-0 left-0 bg-gradient-to-t from-black to-transparent to-80% -z-10 opacity-0 group-hover:opacity-80 transition-all duration-300"
        >
        </div>
      </div>
      <!-- Card 3 -->
      <div
        class="border border-solid border-accent-400 hover:border-brand transition-all duration-300 rounded-md md:col-span-4 md:row-span-3 p-6 space-y-3 group overflow-hidden flex flex-col justify-between clickable-card"
      >
        <img
          src="https://images.unsplash.com/photo-1556155092-490a1ba16284?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D0"
          class="rounded-md absolute top-0 left-0 object-cover -z-10 opacity-0 group-hover:opacity-100 transition-all duration-1000 w-full h-full group-hover:scale-110"
          alt=""
        />
        <!-- SVG Servicio -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-12 my-6 fill-brand transition-all duration-300"
          viewBox="0 0 512 512"
          ><g
            ><path
              d="m494.47 24.725h-476.94c-9.666 0-17.53 7.864-17.53 17.53v323.678c0 9.666 7.864 17.53 17.53 17.53h98.577l2.023 9.414c2.152 10.021 10.293 17.639 20.14 19.397-4.048 7.262-6.365 15.616-6.365 24.504 0 27.844 22.653 50.497 50.497 50.497s50.497-22.653 50.497-50.497c0-8.729-2.228-16.947-6.143-24.118h41.938c-3.915 7.171-6.143 15.389-6.143 24.118 0 27.844 22.653 50.497 50.497 50.497s50.497-22.653 50.497-50.497c0-8.788-2.261-17.056-6.225-24.261 10.649-1.096 19.673-9.011 21.957-19.641l54.564-253.956h63.132v227.013c0 1.381-1.123 2.504-2.504 2.504h-81.859c-4.15 0-7.513 3.363-7.513 7.513s3.363 7.513 7.513 7.513h81.859c9.666 0 17.53-7.864 17.53-17.53v-323.678c.001-9.666-7.863-17.53-17.529-17.53zm-312.068 447.524c-19.559 0-35.472-15.913-35.472-35.472s15.912-35.472 35.472-35.472 35.472 15.913 35.472 35.472c0 19.56-15.913 35.472-35.472 35.472zm130.647 0c-19.559 0-35.472-15.913-35.472-35.472s15.913-35.472 35.472-35.472 35.472 15.913 35.472 35.472c-.001 19.56-15.914 35.472-35.472 35.472zm162.559-348.355c5.038-4.584 8.204-11.19 8.204-18.521 0-13.809-11.234-25.043-25.043-25.043h-23.634c-23.138 0-43.46 16.42-48.322 39.042l-.971 4.521h-70.945c-4.15 0-7.513 3.363-7.513 7.513s3.363 7.513 7.513 7.513h67.718l-7.625 35.491h-272.805c-7.602 0-14.702 3.392-19.48 9.305-4.777 5.912-6.601 13.566-5.004 20.999l18.524 86.217c.872 4.058 4.865 6.633 8.923 5.768 4.056-.872 6.638-4.867 5.767-8.923l-18.524-86.217c-.638-2.974.091-6.036 2.002-8.401 1.911-2.364 4.751-3.721 7.792-3.721h278.875c3.541 0 6.601-2.473 7.346-5.935l13.1-60.973c3.383-15.745 17.527-27.172 33.631-27.172h23.634c5.523 0 10.017 4.494 10.017 10.017s-4.494 10.017-10.017 10.017h-23.634c-6.724 0-12.631 4.772-14.045 11.348l-56.504 262.983c-.985 4.585-5.103 7.913-9.793 7.913h-9.887c-8.697-7.091-19.788-11.353-31.858-11.353s-23.161 4.262-31.858 11.353h-66.93c-8.697-7.091-19.788-11.353-31.858-11.353s-23.161 4.262-31.858 11.353h-7.93c-4.69 0-8.809-3.328-9.794-7.913l-15.419-71.761c-.871-4.058-4.862-6.63-8.923-5.768-4.057.872-6.638 4.867-5.767 8.923l10.168 47.322h-95.351c-1.381 0-2.504-1.123-2.504-2.504v-227.014h265.121c4.15 0 7.513-3.363 7.513-7.513s-3.363-7.513-7.513-7.513h-265.121v-81.64c0-1.381 1.124-2.504 2.504-2.504h476.94c1.381 0 2.504 1.123 2.504 2.504v81.64z"
            ></path><circle cx="55.532" cy="81.541" r="14.65"></circle><circle
              cx="100.084"
              cy="81.541"
              r="14.65"></circle><circle cx="144.636" cy="81.541" r="14.65"
            ></circle><path
              d="m269.819 334.913h-44.186c-2.1 0-4.104.878-5.526 2.423s-2.134 3.614-1.961 5.706l2.278 27.661c.321 3.897 3.577 6.897 7.487 6.897h39.631c3.91 0 7.167-2.999 7.487-6.897l2.277-27.661c.172-2.092-.539-4.161-1.961-5.706-1.423-1.544-3.427-2.423-5.526-2.423zm-9.198 27.661h-25.791l-1.04-12.635h27.873z"
            ></path><path
              d="m122.479 246.223c.744 3.462 3.804 5.935 7.345 5.935h52.577c4.268.093 7.93-3.884 7.487-8.129l-2.277-27.661c-.321-3.897-3.577-6.897-7.487-6.897h-56.243c-4.643-.116-8.434 4.577-7.345 9.091zm50.726-21.726 1.04 12.635h-38.35l-2.715-12.635z"
            ></path><path
              d="m150.834 334.913c-2.27 0-4.418 1.026-5.844 2.791-1.426 1.766-1.978 4.081-1.501 6.3l5.943 27.661c.744 3.462 3.804 5.935 7.345 5.935h35.954c2.1 0 4.104-.878 5.526-2.423s2.134-3.614 1.961-5.706l-2.278-27.661c-.321-3.897-3.577-6.897-7.487-6.897zm12.013 27.661-2.715-12.635h23.401l1.04 12.635z"
            ></path><path
              d="m137.357 272.192c-2.27 0-4.417 1.026-5.844 2.791-1.426 1.766-1.978 4.081-1.501 6.3l5.943 27.662c.743 3.462 3.804 5.935 7.345 5.935h44.266c2.1 0 4.104-.878 5.526-2.423s2.134-3.614 1.961-5.706l-2.278-27.662c-.321-3.897-3.577-6.897-7.487-6.897zm12.013 27.661-2.715-12.636h31.713l1.04 12.636z"
            ></path><path
              d="m210.094 245.261c.321 3.897 3.577 6.897 7.487 6.897h60.288c3.91 0 7.167-2.999 7.487-6.897l2.277-27.661c.44-4.245-3.218-8.222-7.488-8.129h-64.843c-4.265-.093-7.932 3.884-7.487 8.129zm61.896-20.764-1.041 12.635h-46.449l-1.04-12.635z"
            ></path><path
              d="m307.885 314.879h46.223c3.541 0 6.601-2.473 7.346-5.935l5.943-27.662c.476-2.219-.075-4.534-1.502-6.3-1.426-1.765-3.574-2.791-5.844-2.791h-49.888c-3.91 0-7.167 2.999-7.487 6.897l-2.277 27.662c-.172 2.092.539 4.161 1.961 5.706 1.421 1.544 3.425 2.423 5.525 2.423zm9.197-27.662h33.67l-2.715 12.636h-31.996z"
            ></path><path
              d="m313.049 252.158h54.535c3.541 0 6.601-2.473 7.346-5.935l5.943-27.661c1.088-4.514-2.703-9.206-7.346-9.091h-58.2c-3.91 0-7.167 2.999-7.487 6.897l-2.277 27.661c-.445 4.245 3.218 8.222 7.486 8.129zm9.197-27.661h41.982l-2.715 12.635h-40.308z"
            ></path><path
              d="m274.983 272.192h-54.515c-2.1 0-4.104.878-5.526 2.423s-2.134 3.614-1.961 5.706l2.277 27.662c.321 3.897 3.577 6.897 7.487 6.897h49.96c3.91 0 7.167-2.999 7.487-6.897l2.277-27.662c.172-2.092-.539-4.161-1.961-5.706s-3.426-2.423-5.525-2.423zm-9.198 27.661h-36.12l-1.04-12.636h38.201z"
            ></path><path
              d="m302.72 377.599h37.91c3.541 0 6.601-2.473 7.346-5.935l5.944-27.661c.476-2.219-.075-4.534-1.502-6.3-1.426-1.765-3.574-2.791-5.844-2.791h-41.576c-3.91 0-7.167 2.999-7.487 6.897l-2.277 27.661c-.172 2.092.539 4.161 1.961 5.706s3.426 2.423 5.525 2.423zm9.198-27.66h25.357l-2.715 12.635h-23.683z"
            ></path><path
              d="m182.402 423.882c-7.122 0-12.895 5.774-12.895 12.895 0 7.122 5.773 12.896 12.895 12.896s12.895-5.774 12.895-12.896c0-7.121-5.773-12.895-12.895-12.895z"
            ></path><path
              d="m313.049 423.882c-7.122 0-12.895 5.774-12.895 12.895 0 7.122 5.773 12.896 12.895 12.896s12.895-5.774 12.895-12.896c0-7.121-5.773-12.895-12.895-12.895z"
            ></path></g
          ></svg
        >
        <!-- Content -->
        <div
          class="space-y-2 translate-y-16 group-hover:-translate-y-0 duration-500 transition-all"
        >
          <h3
            class="md:text-2xl text-xl font-bold clickable-card__heading group-hover:text-white"
          >
            <a href="#"><span class="text-brand">.</span> Ecommerce</a>
          </h3>
          <!-- Description -->
          <p
            class="group-hover:text-white opacity-0 group-hover:opacity-100 transition-all duration-500 group-hover:block max-w-sm"
          >
            Vende y gestiona tus productos en internet y acepta pagos online
            directamente en tu sitio web.
          </p>
        </div>
        <!-- Arrow -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="md:size-12 size-6 absolute opacity-0 top-4 right-6 duration-500 transition-all md:rotate-0 rotate-45 md:group-hover:translate-x-2 md:group-hover:-translate-y-2 group-hover:translate-x-2 group-hover:translate-y-0 group-hover:opacity-100"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M6.188 17.288L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
          ></path>
        </svg>
        <!-- BG Overlay -->
        <div
          class="absolute w-full h-full top-0 left-0 bg-gradient-to-t from-black to-transparent to-80% -z-10 opacity-0 group-hover:opacity-80 transition-all duration-300"
        >
        </div>
      </div>
      <!-- Card 4 -->
      <div
        class="border border-solid border-accent-400 hover:border-brand transition-all duration-300 rounded-md md:col-span-4 md:row-span-3 md:col-start-9 p-6 space-y-3 group overflow-hidden flex flex-col justify-between clickable-card"
      >
        <img
          src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="rounded-md absolute top-0 left-0 object-cover -z-10 opacity-0 group-hover:opacity-100 transition-all duration-1000 w-full h-full group-hover:scale-110"
          alt=""
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-12 my-6 fill-brand transition-all duration-300"
          viewBox="0 0 480 480"
        >
          <g>
            <g>
              <path
                d="M480,248c0-13.232-10.768-24-24-24H326.16c6.408-18.016,9.84-36.768,9.84-56C336,75.368,260.64,0,168,0S0,75.368,0,168 s75.36,168,168,168v40c0,6.168,2.408,11.744,6.24,16c-3.84,4.256-6.24,9.832-6.24,16v48c0,13.232,10.768,24,24,24h264 c13.232,0,24-10.768,24-24v-48c0-6.168-2.408-11.744-6.24-16c3.84-4.256,6.24-9.832,6.24-16v-48c0-6.168-2.408-11.744-6.24-16 c3.84-4.256,6.24-9.832,6.24-16V248z M319.592,160h-79.936c-0.96-23.232-5.856-45.08-12.712-64.72 c18.568-7.536,35.648-18.624,50.232-32.792C301.888,88.056,317.616,122.216,319.592,160z M319.632,176 c-0.864,16.48-4.224,32.592-10.352,48h-77.296c4.456-16.288,7.024-32.344,7.68-48H319.632z M265.448,51.496 C252.552,63.88,237.52,73.528,221.2,80.2c-11.536-27.608-25.896-49.704-35.768-63.12C215.68,20.552,243.248,32.896,265.448,51.496 z M223.704,160.008H112.288c0.968-21.16,5.592-41.256,11.984-59.44c14.08,4.08,28.776,6.264,43.728,6.264 c14.952,0,29.648-2.176,43.72-6.264C218.112,118.744,222.744,138.84,223.704,160.008z M205.904,85.424 c-12.24,3.424-24.944,5.4-37.904,5.4c-12.96,0-25.664-1.976-37.904-5.4C142.92,55.168,159.336,31.872,168,20.672 C176.664,31.872,193.08,55.168,205.904,85.424z M150.568,17.08c-9.872,13.416-24.232,35.512-35.768,63.12 c-16.32-6.672-31.352-16.32-44.248-28.704C92.752,32.896,120.32,20.552,150.568,17.08z M58.824,62.496 c14.584,14.16,31.664,25.248,50.232,32.792c-6.856,19.632-11.752,41.488-12.712,64.72H16.408 C18.384,122.216,34.112,88.056,58.824,62.496z M16.408,176h79.936c1.016,24.568,6.4,47.64,13.864,68.128 c-18.512,6.824-35.76,16.928-50.872,29.952C34.32,248.456,18.4,214.056,16.408,176z M71.192,285.088 c13.424-11.28,28.608-20.072,44.92-26.032c11.288,26.12,24.96,46.968,34.456,59.864C120.624,315.48,93.28,303.376,71.192,285.088z M168,315.344c-8.296-10.728-23.696-32.608-36.264-61.032C143.528,251.4,155.688,250.008,168,250v46 c0,1.376,0.152,2.728,0.384,4.072c0.032,0.2,0.048,0.408,0.088,0.608c0.08,0.392,0.224,0.752,0.32,1.136 c0.176,0.696,0.368,1.392,0.6,2.064c0.136,0.392,0.248,0.784,0.4,1.168c0.136,0.328,0.304,0.632,0.448,0.952 c0.224,0.48,0.48,0.952,0.736,1.416c0.296,0.544,0.568,1.088,0.904,1.6c0.136,0.216,0.272,0.432,0.416,0.64 C170.72,311.792,169.28,313.704,168,315.344z M172.664,233.904c-16.008-0.448-31.856,1.36-47.08,5.352 c-7.08-19.152-12.264-40.616-13.304-63.256h111.408c-0.712,15.592-3.368,31.656-8.184,48H192 C184.048,224,177.04,227.928,172.664,233.904z M464,456c0,4.416-3.592,8-8,8H192c-4.408,0-8-3.584-8-8v-48c0-4.416,3.592-8,8-8 h264c4.408,0,8,3.584,8,8V456z M464,376c0,4.416-3.592,8-8,8H192c-4.408,0-8-3.584-8-8v-48c0-0.048,0.024-0.088,0.024-0.136 c0.08-4.336,3.648-7.864,7.976-7.864h264c4.408,0,8,3.584,8,8V376z M464,296c0,4.416-3.592,8-8,8H192 c-2.008,0-3.792-0.808-5.2-2.04c-0.224-0.192-0.448-0.376-0.648-0.592c-0.568-0.616-1.048-1.304-1.4-2.072 c-0.08-0.168-0.128-0.344-0.192-0.512c-0.328-0.872-0.56-1.8-0.56-2.784v-48c0-4.416,3.592-8,8-8h29.408H314.6H456 c4.408,0,8,3.584,8,8V296z"
              ></path>
            </g>
          </g>
          <g>
            <g> <rect x="432" y="264" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="200" y="264" width="136" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="432" y="344" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="200" y="344" width="136" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="432" y="424" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="200" y="424" width="136" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="336" y="96" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="368" y="96" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="400" y="96" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="432" y="96" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="432" y="128" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="432" y="160" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="432" y="192" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="136" y="424" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="104" y="424" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="72" y="424" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="72" y="392" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="72" y="360" width="16" height="16"></rect> </g>
          </g>
          <g>
            <g> <rect x="72" y="328" width="16" height="16"></rect> </g>
          </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
          <g> </g>
        </svg>
        <!-- Content -->
        <div
          class="space-y-2 translate-y-16 group-hover:-translate-y-0 duration-500 transition-all"
        >
          <h3
            class="md:text-2xl text-xl font-bold clickable-card__heading group-hover:text-white"
          >
            <a href="#"><span class="text-brand">.</span> Hosting</a>
          </h3>
          <!-- Description -->
          <p
            class="group-hover:text-white opacity-0 group-hover:opacity-100 transition-all duration-500 group-hover:block"
          >
            Contamos con planes de hosting desde los $30.000 CLP, con respaldos
            y correos corporativos incluidos.
          </p>
        </div>
        <!-- Arrow -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="md:size-12 size-6 absolute opacity-0 top-4 right-6 duration-500 transition-all md:rotate-0 rotate-45 md:group-hover:translate-x-2 md:group-hover:-translate-y-2 group-hover:translate-x-2 group-hover:translate-y-0 group-hover:opacity-100"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M6.188 17.288L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
          ></path>
        </svg>
        <!-- BG Overlay -->
        <div
          class="absolute w-full h-full top-0 left-0 bg-gradient-to-t from-black to-transparent to-80% -z-10 opacity-0 group-hover:opacity-80 transition-all duration-300"
        >
        </div>
      </div>
    </div>
  </div>
</section>
