<section class="md:py-36 py-16">
  <div class="max-w-screen-xl mx-auto px-6">
    <div class="flex flex-col items-center gap-6 text-center">
      <h2
        class="text-5xl font-bold mb-0 bg-clip-text text-transparent bg-gradient-to-br from-yellow-400 via-yellow-500 to-yellow-700 mt-1 leading-relaxed"
      >
        Páginas 100% funcionales
      </h2>
      <span class="text-2xl"
        >Todos nuestros sitios cumplen con lo necesario que debe tener un sitio
        web, al ser <strong>páginas web autoadministrables</strong> no solo nos enfocamos
        en el diseño sino que en facilitar la administración para nuestros clientes.
      </span>
    </div>
    <div
      class="relative items-center w-full mx-auto mt-12 max-w-7xl lg:p-10 lg:rounded-5xl lg:border border-accent-400 animate-delay-700 [background:linear-gradient(45deg,theme(colors.accent.500),theme(colors.accent.600)_80%,theme(colors.accent.500))_padding-box,conic-gradient(from_var(--border-angle),theme(colors.slate.600/.48)_80%,_theme(colors.brand.500)_86%,_theme(colors.brand.300)_90%,_theme(colors.brand.500)_94%,_theme(colors.slate.600/.48))_border-box] rounded-2xl border border-transparent animate-border"
    >
      <div
        class="border shadow-2xl rounded-xl border-accent-400 lg:rounded-3xl shadow-vulcan-950 overflow-hidden relative aspect-video"
      >
        <iframe
          class="absolute top-0 left-0 object-cover w-full h-full"
          src="https://iframe.mediadelivery.net/embed/246351/573b8dbd-9c7b-40b0-b867-7943175fd0ef?autoplay=true&loop=true&muted=true&preload=true&responsive=true"
          loading="eager"
          aria-label="Demostración del editor visual del sitio web"
          allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
          allowfullscreen="false"
          title="Demostración del editor visual del sitio web"
        >
        </iframe>
      </div>
    </div>
    <div
      class="max-w-screen-xl px-8 pb-12 mx-auto md:mt-16 mt-12 md:px-12 lg:px-32"
    >
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
        <div>
          <h4 class="text-xl font-medium">
            <span class="text-brand">Sitio Web Autoadministrable</span>
          </h4>
          <p class="mt-2">
            Administre fácilmente todos los contenidos de su Página Web;
            imágenes, textos, datos de contacto, etc.
          </p>
        </div>
        <div>
          <h4 class="text-xl font-medium">
            <span class="text-brand">Formularios de Contacto</span>
          </h4>
          <p class="mt-2">
            Reciba los mensajes de sus clientes enviados desde su Sitio Web
            directo en su bandeja de correo electrónico.
          </p>
        </div>
        <div>
          <h4 class="text-xl font-medium">
            <span class="text-brand">Adaptable a Móviles</span>
          </h4>
          <p class="mt-2">
            Conocemos el mercado, por eso todos nuestros sitios web son
            adaptables a todo tipo de dispositivos móviles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
