<section class="relative overflow-hidden md:py-16 py-8">
  <div class="bg-accent-800 max-w-screen-xl mx-auto rounded-3xl px-8">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-24 items-start">
        <div>
          <h2
            class="text-white font-semibold tracking-tight lg:text-5xl mt-6 text-3xl"
          >
            Que obtienes al contratar tu página web
          </h2>

          <ul
            role="list"
            class="grid grid-cols-1 gap-4 list-none lg:gap-6 mt-12"
          >
            <li>
              <p class="font-semibold text-white text-base">
                Chat Online / Whatsapp
              </p>
              <div class="mt-2 text-slate-400 text-sm">
                Configuramos el sitio web para que puedas obtener rápidamente
                una forma de contacto con tus clientes ya sea por Whatsapp o por
                un Chat Online
              </div>
            </li>
            <li>
              <p class="font-semibold text-white text-base">
                Sin mensualidades
              </p>
              <div class="mt-2 text-slate-400 text-sm">
                El sitio es totalmente tuyo, no pagues mensualmente y no
                dependas de otra persona o agencia que controle tu sitio.
              </div>
            </li>
            <li>
              <p class="font-semibold text-white text-base">Fácil Mantención</p>
              <div class="mt-2 text-slate-400 text-sm">
                Trabajamos en plataformas CMS con actualizaciones automáticas y
                de uso intuitivo y amigable.
              </div>
            </li>
          </ul>
        </div>
        <div class="lg:mt-0 mt-12 h-full">
          <img
            class="aspect-square"
            src="https://dmaurel.b-cdn.net/wp-content/uploads/sitio-web-express.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
