---
import ContactForm from "../forms/ContactForm.astro"
---
<section class="py-12 overflow-hidden sm:py-16 lg:py-20 xl:py-24">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid max-w-6xl grid-cols-1 mx-auto gap-y-12 lg:grid-cols-2 lg:gap-x-16 xl:gap-x-24">
            <div class="relative flex flex-col justify-between max-w-lg lg:py-12 lg:max-w-none">
                <div class="flex-1">
                    <p class="text-2xl">
                        <span class="text-transparent bg-clip-text bg-gradient-to-r from-brand to-brand-700"> ¿Tienes un proyecto en mente? </span>
                    </p>
                </div>

                <div class="mt-6 lg:mt-auto">
                    <h2 class="text-3xl font-normal text-white sm:text-4xl lg:text-5xl xl:text-6xl">Te ayudamos a hacer crecer su negocio más rápido y más fácilmente.</h2>
                    <p class="mt-4 text-base font-normal text-gray-400 lg:max-w-xs sm:text-lg sm:mt-6">o puedes agendar una reunión en <a href="https://calendly.com/dmaurel" target="_blank" class="underline underline-offset-4 decoration-gray-200">Calendly</a></p>
                </div>
            </div>

            <div class="relative flex items-center justify-center">
                <div class="absolute right-0 transform translate-x-4 -translate-y-1/2 top-1/2">
                    <svg class="filter blur-3xl" style="filter: blur(64px)" width="619" height="371" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M355.661 40.206C507.908 40.206 619-61.411 619 58.454 619 178.319 219.912 371 67.665 371s0-192.681 0-312.546c0-119.865 135.749-18.248 287.996-18.248Z" fill="url(#e)" />
                        <defs>
                            <linearGradient id="e" x1="0" y1="371" x2="36.57" y2="-50.529" gradientUnits="userSpaceOnUse">
                                <stop offset="0%" style="stop-color: var(--color-cyan-500)" />
                                <stop offset="100%" style="stop-color: var(--color-purple-500)" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>

                <div class="relative overflow-hidden bg-black rounded-xl w-full">
                    <div class="p-6 sm:py-8 sm:px-9 space-y-6">
                        <h3 class="text-2xl font-semibold text-white">Completa el siguiente formulario y agendaremos una reunión online </h3>
                        <ContactForm />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
