<!-- Cards spotlight -->
<section class="relative flex flex-col justify-center overflow-hidden">
  <div class="w-full max-w-screen-xl mx-auto px-4 md:px-6 py-24">
    <!-- Cards container -->
    <h2 class="text-5xl font-bold mb-8">Servicios</h2>
    <div
      class="max-w-sm mx-auto grid gap-6 lg:grid-cols-3 items-start lg:max-w-none group"
      data-spotlight
    >
      <!-- Card 1 -->
      <div
        class="relative h-full bg-accent-400 rounded-3xl p-px before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-slate-400 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] after:absolute after:w-60 after:h-60 after:-left-32 after:-top-28 after:bg-white after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:z-30 after:blur-[100px] overflow-hidden"
      >
        <div
          class="relative h-full bg-accent-800 p-6 pb-8 rounded-[inherit] z-20 overflow-hidden"
        >
          <!-- Radial gradient -->
          <div
            class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
            aria-hidden="true"
          >
            <div
              class="absolute inset-0 translate-z-0 bg-accent-800 rounded-full blur-[80px]"
            >
            </div>
          </div>
          <div class="flex flex-col h-full items-center text-center">
            <!-- Image -->
            <div class="relative inline-flex">
              <div
                class="w-[40%] h-[40%] absolute inset-0 m-auto -translate-y-[10%] blur-3xl -z-10 rounded-full bg-indigo-600"
                aria-hidden="true"
              >
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-20 my-6 fill-accent-100"
                viewBox="0 0 512 512"
                ><g
                  ><path
                    d="m474.427 30.108h-163.755c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h163.754c12.43 0 22.544 10.113 22.544 22.544v263.007h-36.028l-.001-230.847c0-12.431-10.114-22.544-22.544-22.544h-364.795c-12.431 0-22.544 10.113-22.544 22.544v230.847h-36.029v-263.008c0-12.431 10.114-22.544 22.544-22.544h243.04c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-243.04c-20.718.001-37.573 16.856-37.573 37.574v303.848c0 20.718 16.855 37.573 37.573 37.573h165.231l-7.574 57.761h-26.702c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h174.943c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-26.701l-7.574-57.761h79.629c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-351.252c-12.43 0-22.544-10.113-22.544-22.544v-25.811h481.941v25.811c0 12.431-10.114 22.544-22.544 22.544h-55.543c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h55.543c20.718 0 37.573-16.855 37.573-37.573v-303.848c.001-20.718-16.854-37.573-37.572-37.573zm-172.815 436.755h-91.223l7.574-57.761h76.074zm-235.525-367.022c0-4.144 3.371-7.515 7.515-7.515h364.796c4.144 0 7.515 3.371 7.515 7.515v36.985h-379.826zm0 52.015h379.826v178.833h-36.534v-33.499c0-4.15-3.364-7.515-7.515-7.515h-127.875c-4.151 0-7.515 3.365-7.515 7.515v33.499h-20.949v-33.499c0-4.15-3.364-7.515-7.515-7.515h-127.874c-4.151 0-7.515 3.365-7.515 7.515v33.499h-36.534zm328.262 178.832h-112.845v-25.984h112.845zm-163.853 0h-112.845v-25.984h112.845z"
                  ></path><path
                    d="m94.748 102.455c-6.364 0-11.542 5.178-11.542 11.543s5.178 11.542 11.542 11.542 11.542-5.178 11.542-11.542c.001-6.364-5.177-11.543-11.542-11.543z"
                  ></path><path
                    d="m131.791 102.455c-6.364 0-11.542 5.178-11.542 11.543s5.178 11.542 11.542 11.542 11.542-5.178 11.542-11.542-5.178-11.543-11.542-11.543z"
                  ></path><path
                    d="m168.833 102.455c-6.364 0-11.542 5.178-11.542 11.543s5.178 11.542 11.542 11.542c6.365 0 11.543-5.178 11.543-11.542s-5.178-11.543-11.543-11.543z"
                  ></path><path
                    d="m110.136 271.332h54.669c4.151 0 7.515-3.365 7.515-7.515s-3.364-7.515-7.515-7.515h-47.155v-65.938h276.683v65.938h-199.47c-4.151 0-7.515 3.365-7.515 7.515s3.364 7.515 7.515 7.515h206.984c4.151 0 7.515-3.365 7.515-7.515v-80.967c0-4.15-3.364-7.515-7.515-7.515h-291.711c-4.151 0-7.515 3.365-7.515 7.515v80.968c0 4.15 3.364 7.514 7.515 7.514z"
                  ></path></g
                ></svg
              >
            </div>
            <!-- Text -->
            <div class="grow mb-5">
              <h3 class="text-2xl text-slate-200 font-bold mb-1">
                <span class="text-brand">.</span>
                Páginas Corporativas
              </h3>
              <p class="text-base text-slate-400">
                Destaca tu empresa de tu competencia con un sitio web moderno
                con WordPress.
              </p>
            </div>
            <a
              class="inline-flex justify-center items-center whitespace-nowrap rounded-lg bg-slate-800 hover:bg-slate-900 border border-slate-700 px-3 py-1.5 text-sm font-medium text-slate-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150"
              href="#0"
            >
              <svg
                class="fill-slate-500 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="14"
              >
                <path
                  d="M12.82 8.116A.5.5 0 0 0 12 8.5V10h-.185a3 3 0 0 1-2.258-1.025l-.4-.457-1.328 1.519.223.255A5 5 0 0 0 11.815 12H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM12.82.116A.5.5 0 0 0 12 .5V2h-.185a5 5 0 0 0-3.763 1.708L3.443 8.975A3 3 0 0 1 1.185 10H1a1 1 0 1 0 0 2h.185a5 5 0 0 0 3.763-1.708l4.609-5.267A3 3 0 0 1 11.815 4H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM1 4h.185a3 3 0 0 1 2.258 1.025l.4.457 1.328-1.52-.223-.254A5 5 0 0 0 1.185 2H1a1 1 0 0 0 0 2Z"
                ></path>
              </svg>
              <span>Connect</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="relative h-full bg-accent-400 rounded-3xl p-px before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-slate-400 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] after:absolute after:w-60 after:h-60 after:-left-32 after:-top-28 after:bg-white after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:z-30 after:blur-[100px] overflow-hidden"
      >
        <div
          class="relative h-full bg-accent-800 p-6 pb-8 rounded-[inherit] z-20 overflow-hidden"
        >
          <!-- Radial gradient -->
          <div
            class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
            aria-hidden="true"
          >
            <div
              class="absolute inset-0 translate-z-0 bg-accent-800 rounded-full blur-[80px]"
            >
            </div>
          </div>
          <div class="flex flex-col h-full items-center text-center">
            <!-- Image -->
            <div class="relative inline-flex">
              <div
                class="w-[40%] h-[40%] absolute inset-0 m-auto -translate-y-[10%] blur-3xl -z-10 rounded-full bg-indigo-600"
                aria-hidden="true"
              >
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-20 my-6 fill-accent-100"
                viewBox="-52 0 512 512"
                ><path
                  d="m34.5 25c-5.515625 0-10 4.484375-10 10s4.484375 10 10 10 10-4.484375 10-10-4.484375-10-10-10zm0 0"
                ></path><path
                  d="m69.5 25c-5.515625 0-10 4.484375-10 10s4.484375 10 10 10 10-4.484375 10-10-4.484375-10-10-10zm0 0"
                ></path><path
                  d="m104.5 25c-5.515625 0-10 4.484375-10 10s4.484375 10 10 10 10-4.484375 10-10-4.484375-10-10-10zm0 0"
                ></path><path
                  d="m380.5 0h-353c-15.164062 0-27.5 12.335938-27.5 27.5v412.007812c0 4.144532 3.359375 7.5 7.5 7.5s7.5-3.355468 7.5-7.5v-200.507812h126.289062c3.097657 8.730469 11.433594 15 21.210938 15h83c9.777344 0 18.113281-6.269531 21.210938-15h126.289062v245.5c0 6.894531-5.605469 12.5-12.5 12.5h-353c-6.894531 0-12.5-5.605469-12.5-12.5v-9.992188c0-4.140624-3.359375-7.5-7.5-7.5s-7.5 3.359376-7.5 7.5v9.992188c0 15.164062 12.335938 27.5 27.5 27.5h353c15.164062 0 27.5-12.335938 27.5-27.5v-457c0-15.164062-12.335938-27.5-27.5-27.5zm-135 239h-83c-4.136719 0-7.5-3.363281-7.5-7.5s3.363281-7.5 7.5-7.5h83c4.136719 0 7.5 3.363281 7.5 7.5s-3.363281 7.5-7.5 7.5zm147.5-15h-126.289062c-3.097657-8.730469-11.433594-15-21.210938-15h-83c-9.777344 0-18.113281 6.269531-21.210938 15h-126.289062v-154h350.5c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5h-350.5v-27.5c0-6.894531 5.605469-12.5 12.5-12.5h353c6.894531 0 12.5 5.605469 12.5 12.5zm0 0"
                ></path><path
                  d="m143.5 117c0-4.144531-3.359375-7.5-7.5-7.5h-56c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h56c4.140625 0 7.5-3.355469 7.5-7.5zm0 0"
                ></path><path
                  d="m166 124.5h76c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5h-76c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5zm0 0"
                ></path><path
                  d="m328 109.5h-56c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h56c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
                ></path><path
                  d="m196.5 147c0-4.144531-3.359375-7.5-7.5-7.5h-71c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h71c4.140625 0 7.5-3.355469 7.5-7.5zm0 0"
                ></path><path
                  d="m290 139.5h-71c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h71c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
                ></path><path
                  d="m257 169.5h-101c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h101c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
                ></path><path
                  d="m91 268.5c-22.605469 0-41 18.394531-41 41s18.394531 41 41 41 41-18.394531 41-41-18.394531-41-41-41zm0 67c-14.335938 0-26-11.664062-26-26s11.664062-26 26-26 26 11.664062 26 26-11.664062 26-26 26zm0 0"
                ></path><path
                  d="m65 365.5c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h52c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
                ></path><path
                  d="m204 268.5c-22.605469 0-41 18.394531-41 41s18.394531 41 41 41 41-18.394531 41-41-18.394531-41-41-41zm0 67c-14.335938 0-26-11.664062-26-26s11.664062-26 26-26 26 11.664062 26 26-11.664062 26-26 26zm0 0"
                ></path><path
                  d="m237.5 373c0-4.144531-3.359375-7.5-7.5-7.5h-52c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h52c4.140625 0 7.5-3.355469 7.5-7.5zm0 0"
                ></path><path
                  d="m317 268.5c-22.605469 0-41 18.394531-41 41s18.394531 41 41 41 41-18.394531 41-41-18.394531-41-41-41zm0 67c-14.335938 0-26-11.664062-26-26s11.664062-26 26-26 26 11.664062 26 26-11.664062 26-26 26zm0 0"
                ></path><path
                  d="m291 365.5c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5h52c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5zm0 0"
                ></path><path
                  d="m49 469.5c0 6.894531 5.605469 12.5 12.5 12.5h117c6.894531 0 12.5-5.605469 12.5-12.5v-57c0-6.894531-5.605469-12.5-12.5-12.5h-117c-6.894531 0-12.5 5.605469-12.5 12.5zm53.851562-2.5 11.839844-11.839844c2.925782-2.925781 7.683594-2.921875 10.609375 0l11.839844 11.839844zm-38.851562-52h112v52h-17.648438l-22.445312-22.445312c-8.773438-8.773438-23.046875-8.773438-31.820312 0l-22.449219 22.445312h-17.636719zm0 0"
                ></path><path
                  d="m217 412.5v57c0 6.894531 5.605469 12.5 12.5 12.5h117c6.894531 0 12.5-5.605469 12.5-12.5v-57c0-6.894531-5.605469-12.5-12.5-12.5h-117c-6.894531 0-12.5 5.605469-12.5 12.5zm53.851562 54.5 11.839844-11.839844c2.925782-2.925781 7.683594-2.921875 10.609375 0l11.839844 11.839844zm-38.851562-52h112v52h-17.648438l-22.445312-22.445312c-8.773438-8.773438-23.046875-8.773438-31.820312 0l-22.449219 22.445312h-17.636719zm0 0"
                ></path></svg
              >
            </div>
            <!-- Text -->
            <div class="grow mb-5">
              <h3 class="text-2xl text-slate-200 font-bold mb-1">
                <span class="text-brand">.</span>
                Landing Pages
              </h3>
              <p class="text-base text-slate-400">
                Diseñada para captar clientes y generar leads respecto a un
                producto o servicio.
              </p>
            </div>
            <a
              class="inline-flex justify-center items-center whitespace-nowrap rounded-lg bg-slate-800 hover:bg-slate-900 border border-slate-700 px-3 py-1.5 text-sm font-medium text-slate-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150"
              href="#0"
            >
              <svg
                class="fill-slate-500 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="14"
              >
                <path
                  d="M12.82 8.116A.5.5 0 0 0 12 8.5V10h-.185a3 3 0 0 1-2.258-1.025l-.4-.457-1.328 1.519.223.255A5 5 0 0 0 11.815 12H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM12.82.116A.5.5 0 0 0 12 .5V2h-.185a5 5 0 0 0-3.763 1.708L3.443 8.975A3 3 0 0 1 1.185 10H1a1 1 0 1 0 0 2h.185a5 5 0 0 0 3.763-1.708l4.609-5.267A3 3 0 0 1 11.815 4H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM1 4h.185a3 3 0 0 1 2.258 1.025l.4.457 1.328-1.52-.223-.254A5 5 0 0 0 1.185 2H1a1 1 0 0 0 0 2Z"
                ></path>
              </svg>
              <span>Connect</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="relative h-full bg-accent-400 rounded-3xl p-px before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-slate-400 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] after:absolute after:w-60 after:h-60 after:-left-32 after:-top-28 after:bg-white after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:z-30 after:blur-[100px] overflow-hidden"
      >
        <div
          class="relative h-full bg-accent-800 p-6 pb-8 rounded-[inherit] z-20 overflow-hidden"
        >
          <!-- Radial gradient -->
          <div
            class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
            aria-hidden="true"
          >
            <div
              class="absolute inset-0 translate-z-0 bg-accent-800 rounded-full blur-[80px]"
            >
            </div>
          </div>
          <div class="flex flex-col h-full items-center text-center">
            <!-- Image -->
            <div class="relative inline-flex">
              <div
                class="w-[40%] h-[40%] absolute inset-0 m-auto -translate-y-[10%] blur-3xl -z-10 rounded-full bg-indigo-600"
                aria-hidden="true"
              >
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-20 my-6 fill-accent-100"
                viewBox="0 0 512 512"
                ><g
                  ><path
                    d="m494.47 24.725h-476.94c-9.666 0-17.53 7.864-17.53 17.53v323.678c0 9.666 7.864 17.53 17.53 17.53h98.577l2.023 9.414c2.152 10.021 10.293 17.639 20.14 19.397-4.048 7.262-6.365 15.616-6.365 24.504 0 27.844 22.653 50.497 50.497 50.497s50.497-22.653 50.497-50.497c0-8.729-2.228-16.947-6.143-24.118h41.938c-3.915 7.171-6.143 15.389-6.143 24.118 0 27.844 22.653 50.497 50.497 50.497s50.497-22.653 50.497-50.497c0-8.788-2.261-17.056-6.225-24.261 10.649-1.096 19.673-9.011 21.957-19.641l54.564-253.956h63.132v227.013c0 1.381-1.123 2.504-2.504 2.504h-81.859c-4.15 0-7.513 3.363-7.513 7.513s3.363 7.513 7.513 7.513h81.859c9.666 0 17.53-7.864 17.53-17.53v-323.678c.001-9.666-7.863-17.53-17.529-17.53zm-312.068 447.524c-19.559 0-35.472-15.913-35.472-35.472s15.912-35.472 35.472-35.472 35.472 15.913 35.472 35.472c0 19.56-15.913 35.472-35.472 35.472zm130.647 0c-19.559 0-35.472-15.913-35.472-35.472s15.913-35.472 35.472-35.472 35.472 15.913 35.472 35.472c-.001 19.56-15.914 35.472-35.472 35.472zm162.559-348.355c5.038-4.584 8.204-11.19 8.204-18.521 0-13.809-11.234-25.043-25.043-25.043h-23.634c-23.138 0-43.46 16.42-48.322 39.042l-.971 4.521h-70.945c-4.15 0-7.513 3.363-7.513 7.513s3.363 7.513 7.513 7.513h67.718l-7.625 35.491h-272.805c-7.602 0-14.702 3.392-19.48 9.305-4.777 5.912-6.601 13.566-5.004 20.999l18.524 86.217c.872 4.058 4.865 6.633 8.923 5.768 4.056-.872 6.638-4.867 5.767-8.923l-18.524-86.217c-.638-2.974.091-6.036 2.002-8.401 1.911-2.364 4.751-3.721 7.792-3.721h278.875c3.541 0 6.601-2.473 7.346-5.935l13.1-60.973c3.383-15.745 17.527-27.172 33.631-27.172h23.634c5.523 0 10.017 4.494 10.017 10.017s-4.494 10.017-10.017 10.017h-23.634c-6.724 0-12.631 4.772-14.045 11.348l-56.504 262.983c-.985 4.585-5.103 7.913-9.793 7.913h-9.887c-8.697-7.091-19.788-11.353-31.858-11.353s-23.161 4.262-31.858 11.353h-66.93c-8.697-7.091-19.788-11.353-31.858-11.353s-23.161 4.262-31.858 11.353h-7.93c-4.69 0-8.809-3.328-9.794-7.913l-15.419-71.761c-.871-4.058-4.862-6.63-8.923-5.768-4.057.872-6.638 4.867-5.767 8.923l10.168 47.322h-95.351c-1.381 0-2.504-1.123-2.504-2.504v-227.014h265.121c4.15 0 7.513-3.363 7.513-7.513s-3.363-7.513-7.513-7.513h-265.121v-81.64c0-1.381 1.124-2.504 2.504-2.504h476.94c1.381 0 2.504 1.123 2.504 2.504v81.64z"
                  ></path><circle cx="55.532" cy="81.541" r="14.65"
                  ></circle><circle cx="100.084" cy="81.541" r="14.65"
                  ></circle><circle cx="144.636" cy="81.541" r="14.65"
                  ></circle><path
                    d="m269.819 334.913h-44.186c-2.1 0-4.104.878-5.526 2.423s-2.134 3.614-1.961 5.706l2.278 27.661c.321 3.897 3.577 6.897 7.487 6.897h39.631c3.91 0 7.167-2.999 7.487-6.897l2.277-27.661c.172-2.092-.539-4.161-1.961-5.706-1.423-1.544-3.427-2.423-5.526-2.423zm-9.198 27.661h-25.791l-1.04-12.635h27.873z"
                  ></path><path
                    d="m122.479 246.223c.744 3.462 3.804 5.935 7.345 5.935h52.577c4.268.093 7.93-3.884 7.487-8.129l-2.277-27.661c-.321-3.897-3.577-6.897-7.487-6.897h-56.243c-4.643-.116-8.434 4.577-7.345 9.091zm50.726-21.726 1.04 12.635h-38.35l-2.715-12.635z"
                  ></path><path
                    d="m150.834 334.913c-2.27 0-4.418 1.026-5.844 2.791-1.426 1.766-1.978 4.081-1.501 6.3l5.943 27.661c.744 3.462 3.804 5.935 7.345 5.935h35.954c2.1 0 4.104-.878 5.526-2.423s2.134-3.614 1.961-5.706l-2.278-27.661c-.321-3.897-3.577-6.897-7.487-6.897zm12.013 27.661-2.715-12.635h23.401l1.04 12.635z"
                  ></path><path
                    d="m137.357 272.192c-2.27 0-4.417 1.026-5.844 2.791-1.426 1.766-1.978 4.081-1.501 6.3l5.943 27.662c.743 3.462 3.804 5.935 7.345 5.935h44.266c2.1 0 4.104-.878 5.526-2.423s2.134-3.614 1.961-5.706l-2.278-27.662c-.321-3.897-3.577-6.897-7.487-6.897zm12.013 27.661-2.715-12.636h31.713l1.04 12.636z"
                  ></path><path
                    d="m210.094 245.261c.321 3.897 3.577 6.897 7.487 6.897h60.288c3.91 0 7.167-2.999 7.487-6.897l2.277-27.661c.44-4.245-3.218-8.222-7.488-8.129h-64.843c-4.265-.093-7.932 3.884-7.487 8.129zm61.896-20.764-1.041 12.635h-46.449l-1.04-12.635z"
                  ></path><path
                    d="m307.885 314.879h46.223c3.541 0 6.601-2.473 7.346-5.935l5.943-27.662c.476-2.219-.075-4.534-1.502-6.3-1.426-1.765-3.574-2.791-5.844-2.791h-49.888c-3.91 0-7.167 2.999-7.487 6.897l-2.277 27.662c-.172 2.092.539 4.161 1.961 5.706 1.421 1.544 3.425 2.423 5.525 2.423zm9.197-27.662h33.67l-2.715 12.636h-31.996z"
                  ></path><path
                    d="m313.049 252.158h54.535c3.541 0 6.601-2.473 7.346-5.935l5.943-27.661c1.088-4.514-2.703-9.206-7.346-9.091h-58.2c-3.91 0-7.167 2.999-7.487 6.897l-2.277 27.661c-.445 4.245 3.218 8.222 7.486 8.129zm9.197-27.661h41.982l-2.715 12.635h-40.308z"
                  ></path><path
                    d="m274.983 272.192h-54.515c-2.1 0-4.104.878-5.526 2.423s-2.134 3.614-1.961 5.706l2.277 27.662c.321 3.897 3.577 6.897 7.487 6.897h49.96c3.91 0 7.167-2.999 7.487-6.897l2.277-27.662c.172-2.092-.539-4.161-1.961-5.706s-3.426-2.423-5.525-2.423zm-9.198 27.661h-36.12l-1.04-12.636h38.201z"
                  ></path><path
                    d="m302.72 377.599h37.91c3.541 0 6.601-2.473 7.346-5.935l5.944-27.661c.476-2.219-.075-4.534-1.502-6.3-1.426-1.765-3.574-2.791-5.844-2.791h-41.576c-3.91 0-7.167 2.999-7.487 6.897l-2.277 27.661c-.172 2.092.539 4.161 1.961 5.706s3.426 2.423 5.525 2.423zm9.198-27.66h25.357l-2.715 12.635h-23.683z"
                  ></path><path
                    d="m182.402 423.882c-7.122 0-12.895 5.774-12.895 12.895 0 7.122 5.773 12.896 12.895 12.896s12.895-5.774 12.895-12.896c0-7.121-5.773-12.895-12.895-12.895z"
                  ></path><path
                    d="m313.049 423.882c-7.122 0-12.895 5.774-12.895 12.895 0 7.122 5.773 12.896 12.895 12.896s12.895-5.774 12.895-12.896c0-7.121-5.773-12.895-12.895-12.895z"
                  ></path></g
                ></svg
              >
            </div>
            <!-- Text -->
            <div class="grow mb-5">
              <h3 class="text-2xl text-slate-200 font-bold mb-1">
                <span class="text-brand">.</span>
                Ecommerce
              </h3>
              <p class="text-base text-slate-400">
                Vende y gestiona tus productos en internet y acepta pagos online
                directamente en tu sitio web.
              </p>
            </div>
            <a
              class="inline-flex justify-center items-center whitespace-nowrap rounded-lg bg-slate-800 hover:bg-slate-900 border border-slate-700 px-3 py-1.5 text-sm font-medium text-slate-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150"
              href="#0"
            >
              <svg
                class="fill-slate-500 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="14"
              >
                <path
                  d="M12.82 8.116A.5.5 0 0 0 12 8.5V10h-.185a3 3 0 0 1-2.258-1.025l-.4-.457-1.328 1.519.223.255A5 5 0 0 0 11.815 12H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM12.82.116A.5.5 0 0 0 12 .5V2h-.185a5 5 0 0 0-3.763 1.708L3.443 8.975A3 3 0 0 1 1.185 10H1a1 1 0 1 0 0 2h.185a5 5 0 0 0 3.763-1.708l4.609-5.267A3 3 0 0 1 11.815 4H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM1 4h.185a3 3 0 0 1 2.258 1.025l.4.457 1.328-1.52-.223-.254A5 5 0 0 0 1.185 2H1a1 1 0 0 0 0 2Z"
                ></path>
              </svg>
              <span>Connect</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Cards container -->
  </div>
</section>
