<section
  class="bg-slate-50 dark:bg-accent-600 border-y border-solid border-slate-200 dark:border-accent-400"
>
  <div class="max-w-screen-2xl mx-auto md:py-16 py-8">
    <div
      class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
    >
      <ul
        class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
      >
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
      </ul>
      <ul
        class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
        aria-hidden="true"
      >
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/disney.svg"
            alt="Disney"
          />
        </li>
        <li>
          <img
            src="https://cruip-tutorials.vercel.app/logo-carousel/facebook.svg"
            alt="Facebook"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
