---
import ToggleDarkMode from "./ToggleDarkMode.astro";
---

<header class="w-full mx-auto py-6 px-4">
  <div
    x-data="{ open: false }"
    class="relative dark:bg-accent-600 bg-white rounded-xl flex flex-col w-full p-5 mx-auto md:items-center md:justify-between md:flex-row max-w-7xl px-8 border border-solid dark:border-accent-400 border-accent-100"
  >
    <div class="flex flex-row items-center justify-between lg:justify-start">
      <!-- Logo -->
      <a
        title="Daniel Maurel - Diseñador Web Freelance"
        aria-label="Daniel Maurel"
        href="/"
        class="text-3xl text-accent dark:text-brand font-semibold tracking-tight inline-flex gap-2 items-center"
      >
        <svg
          class="size-6"
          viewBox="0 0 50 39"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.4992 2H37.5808L22.0816 24.9729H1L16.4992 2Z"
            class="fill-brand-200"></path>
          <path
            d="M17.4224 27.102L11.4192 36H33.5008L49 13.0271H32.7024L23.2064 27.102H17.4224Z"
            class="fill-brand"></path>
        </svg>
        dmaurel
      </a>
      <button
        @click="open = !open"
        class="inline-flex items-center justify-center p-2 dark:text-white text-accent hover:text-brand-500 focus:outline-none md:hidden"
      >
        <svg
          class="size-6"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            :class="{'hidden': open, 'inline-flex': !open }"
            class="inline-flex"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
          <path
            :class="{'hidden': !open, 'inline-flex': open }"
            class="hidden"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <!-- Nav -->
    <nav
      :class="{'flex py-16': open, 'hidden': !open}"
      class="flex-col flex-grow hidden lg:py-0 md:flex md:justify-end md:flex-row"
    >
      <ul
        class="gap-6 list-none items-center md:flex-row flex-col flex text-lg capitalize font-light"
      >
        <li>
          <a
            title="Proyectos Realizados"
            aria-label="Proyectos Realizados"
            href="/portfolio"
            class="py-2 text-accent dark:text-white hover:text-brand"
          >
            Proyectos
          </a>
        </li>

        <li>
          <a
            title="Servicios de Diseño Web para Empresas"
            aria-label="Servicios de Diseño Web para Empresas"
            href="/diseno-web"
            class="py-2 text-accent dark:text-white hover:text-brand"
          >
            Diseño Web
          </a>
        </li>
        <li>
          <a
            title="Solicitar cotización"
            aria-label="Solicitar cotización"
            href="/cotizacion"
            class="py-2 text-accent dark:text-white hover:text-brand"
          >
            Solicitar cotización
          </a>
        </li>
        <!-- CTA header -->
        <li>
          <a
            title="Agendar reunión"
            aria-label="Agendar reunión"
            href="https://calendly.com/dmaurel"
            target="_blank"
            class="text-accent gap-3 text-lg flex items-center focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 ring-2 ring-transparent focus:ring-offset-2 focus:ring-brand-500 duration-200 py-2.5 rounded-full active:bg-white active:text-accent bg-brand hover:bg-white w-auto"
          >
            <span
              class="w-2.5 h-2.5 rounded-full bg-red-500 z-20 relative flex items-center justify-center"
            >
              <span
                class="w-3 h-3 rounded-full bg-red-500/50 animate-ping z-10 absolute"
              ></span>
            </span>
            Agendar Reunión
          </a>
        </li>
        <!-- icon Darkmode -->
        <!-- <ToggleDarkMode /> -->
      </ul>
    </nav>
  </div>
</header>
